

.europa-bg {
  background: linear-gradient(
          135deg,
          #000000 0%,
          #1a1a1a 40%,
          #f5c400 100%
  );
}
.europa-card {
  background: rgba(255, 255, 255, 0.92);
  backdrop-filter: blur(6px);
  border-top: 6px solid #f5c400;
}
.btn-europa {
  background-color: #f5c400;
  color: #000;
  border: none;
  font-weight: 600;
}

.btn-europa:hover {
  background-color: #ddb000;
  color: #000;
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
